//General
$color-icon: #fff;
$primary-color: #0589ff;
$secondary-color: #0589ff;

//Box variables
$border-box: 5px;

//Login page
$background-color-login: #009688;

//forms variables
$background-color-form: #fff;

//buttons
$btn-border-radius: 0.25rem;
$color-btn-primary: #0540e8;
$color-btn-warning: #ffca3a;
$color-btn-danger: #ff595e;
$color-btn-success: #2ba84a;
$color-btn-info: #a0dde6;

$btn-icon-border-radius: 50%;
$btn-icon-size: 25px;
$btn-icon-hover: $secondary-color;

//Layout variables
$width-menu: 230px;
$width-menu-xs: 50px;
$height-header: 70px;
$bg-color-header: $primary-color;
$bg-container: #fff;
$bg-div-user: #bbb;
$bg-user-menu: #bbb;
$bg-menu: $secondary-color;

//Canvas
$width-canvas: 400px;
$width-canvas-xs: 250px;
$bg-canvas: #fff;
$text-color-header-canvas: #fff;
$height-canvas: 200px;

//Lists
$bg-hover-li: #eee;
$color-hover-li: #09a2ff;

//Tables
$bg-table-header: $primary-color;

//Pagination
$page-border-radius: 7px;
$page-active: $color-btn-primary;
$page-margin: 0px 3px;
